.mapcontainer{
    // border: 1px solid red;
    border-radius: .5rem;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 200px) and (max-width: 600px) {
    .mapcontainer{
        order: 1;
        height: 100%;
        width: 90%;
    }
    
}