.mainContainer {
  // border: 1px solid black;
  width: 100%;
  padding-block: 10px;
  z-index: 1;

  .subContainer {
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      flex: 1;
      display: flex;
      > img {
        margin-left: 1rem;
        height: 50px;
        object-fit: contain;
        border-radius: 10px;
      }

      > div {
        display: flex;
        flex-direction: column;
        margin-left: 20px;

        .title {
          font-size: 22px;
          color: #fff;
        }

        .slogan {
          color: lightgray;
        }
      }
    }
    .navelements {
      padding-right: 1rem;
      font-size: .9rem;
      font-weight: normal;
      > span {
        color: #fff;
        font-weight: 500;
        margin-left: 15px;

        &:hover {
          cursor: pointer;
          color: #f5f5f5;
        }
      }
    }
  }


  @media (min-width: 200px) and (max-width:700px){
    .subContainer{
      // border: 1px solid red;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 12vh;

      .logo{
          flex:none;
          // border: 1px solid white;
          align-items: center;
          gap: 1.5rem;

          >img{
            scale: .8;
          }

          >div{
            line-height: 1.5em;
          }
        }

        .navelements{
          // border: 1px solid white;
          display: flex;
          gap: 1rem;
        }
    }
  }
}
