.mainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  position: relative;
  background: url("./assets/images/banner.jpg") no-repeat center center fixed;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  @media (min-width: 200px) and (max-width: 600px) {
    // border: 1px solid red;
    gap: 0;
    // height: 87vh;
    // max-height: 100vh;
    background: url("./assets/images/banner-mobile.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}
